#map {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
}

h1 {
    position: fixed;
    left: calc(50% - 200px);
    width: 400px;
    color: black;
    text-align: center;
}
h1 span {
    background-color: rgba(123, 198, 200, 0.75);
    padding: 10px;
    border-radius: 10px;
}

.leaflet-tile-pane {
  -webkit-filter: grayscale(55%);
  filter: grayscale(55%);
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
  background-color: #04AA6D;
  color: white;
}

.route-popup {
    width: 600px;
}