#map {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
}

h1 {
    position: fixed;
    left: calc(50% - 200px);
    width: 400px;
    color: black;
    text-align: center;
}
h1 span {
    background-color: rgba(131, 161, 46, 0.75);
    padding: 10px;
    border-radius: 10px;
}

.leaflet-tile-pane {
  -webkit-filter: grayscale(75%);
  filter: grayscale(75%);
}